<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="{{data.imageUrl}}" alt="{{data.productName}}">
        </a>
    </div>
    <div class="media-body">
        <div class="media-body">
            <h4 class="media-heading">{{data.productName}}</h4>
            {{data.releaseDate}}
            <app-rating
                [rating]="data.rating"
                [numOfReviews]="data.numOfReviews"
            ></app-rating>
            <div [ngSwitch]="data.rating">
                <div *ngSwitchCase="1">Poor</div>
                <div *ngSwitchCase="2">Fair</div>
                <div *ngSwitchCase="3">Good</div>
                <div *ngSwitchCase="4">Very Good</div>
                <div *ngSwitchCase="5">Excellent</div>
                <div *ngSwitchDefault>Not rated</div>
            </div>
            <br>
            {{data.description}}
            <br>
            <p>{{data.releasedDate}}</p>
        </div>
    </div>
</div>