<h2>Products</h2>
<ul>
    <!--<li *ngFor="let product of products" >
        {{product}}
    </li>-->
    <img src="{{imgUrl}}" alt="">
    <button (click)="logMaker()">Some console.log()</button>
    
    <br>
    <input type="text" [(ngModel)]="title" >
    You have typed: {{title}}
</ul>

<div class="container">
    <h4>Products</h4>
    <div *ngFor=" let product of products"  >
        <!--{{product.rating}}-->
        <app-singleproduct [data]="product">

        </app-singleproduct>
    </div>
</div>